* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

.formulario{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    color: white;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

body{
    background-image: url(/img/sixbox_20191017_122321.jpg);
    
}

