header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}

nav .active {
	background-color: #fff;
	color: #333;
}