body {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #333;
}

form {
	margin: 0 auto;
	width: 300px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #333;
	font-weight: bold;
}

input[type="number"], input[type="text"] {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #555;
}

#resultado {
	font-weight: bold;
	font-size: 20px;
}
